.DS_Store
node_modules
/dist
#awsamplifyjs
aws-info.json
project-config.json
aws-exports.*
/amplify
.amplifyrc

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
